
booleano==1.1a1
eventlet==0.21.0
./services/maiev-base/app/extra_package/datecompatible_json_serializer/
ipython
nameko==2.8.5
promise==2.0b1
pymongo
pytest
pytz
requests
semantic_version==2.6.0
watchdog
